<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{user.first_name}}'s Dashboard</title>
    <script src="http://code.jquery.com/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#date").datepicker({
                minDate: '0'
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <p></p>
        {# Load the tag library #} {% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %}
        <div class="row">
            <div class="col-md-4">
                <h3>Hello, {{user.first_name}}</h3></div>
            <div class="col-md-2">
                <p><a href="/">Dashboard</a> | <a href="/signout">Sign Out</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <h4>Edit Appointment</h4> {# Display a form #}
                <p class="help-block">Current system time: {% now "H:i M j, Y" %}</p>
                <form action="/appointments/{{task.id}}/update" method="post" class="form">
                    {% csrf_token %}
                    <p><label for="Task">Task</label></p>
                    <p><input class="form-control" type="text" name="task" value="{{task.task}}"></p>
                    <p><label for="status">Status</label></p>
                    <p><select class="form-control" name="status" id="status">
                        <option value="Pending">Pending</option>
                        <option value="Done">Done</option>
                        <option value="Missed">Missed</option>
                    </select></p>
                    <p><label for="date">Date</label></p>
                    <p><input class="form-control" type="date" name="date" value="{{task.date|date:'m/d/Y'}}"></p>
                    <p><label for="time">Time</label></p>
                    <p><input class="form-control" type="time" name="time" value="{{task.time|date:'H:i'}}"></p>
                    <input type="hidden" name="user_id" , value="{{user.id}}"> {% buttons %}
                    <button type="submit" class="btn btn-primary">
          {% bootstrap_icon "calendar" %} Edit Task
        </button> {% endbuttons %}
                </form>
            </div>
        </div>

        {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}
    </div>
</body>

</html>
